.userDataContainer {
    display: flex;
    flex-direction: column;
    padding-top: 68px;
    padding-left: 107px;
    row-gap: 78px;
}

.userDataInfos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 25px;
}

.userChartsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
}

.chartsContainer {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

@media screen and (max-width: 1340px) {
    .userDataContainer {
        padding-left: 0px;
        align-items: center;
    }

    .userDataInfos {
        justify-content: center;
    }
}