.userRadarChart {
    display: flex;
    border-radius: 5px;
    background-color: #282d30;
    width: 258px;
    height: 263px;
    flex-shrink: 0;
    stroke: white;
}

.userRadarChart .a text {
    font-size: 12px;
}